[submodule "src/modules/ml4j-gpt-3-experiments"]
	path = src/modules/ml4j-gpt-3-experiments
	url = https://github.com/ml4j/gpt-3-experiments.git
	branch = absolute-zero
[submodule "src/modules/michaellavelle-gpt-3-deterministic-prompts"]
	path = src/modules/michaellavelle-gpt-3-deterministic-prompts
	url = https://github.com/michaellavelle/gpt-3-deterministic-prompts.git
	branch = master
